DB_NAME=postgres
DB_USER=root
DB_PASSWORD=root
# Si se ejecuta desde docker-compose, el host de la base de datos es 'db' (nombre del servicio en docker-compose)
#DB_HOST=db
# Si se ejecuta localmente, el host de la base de datos es 'localhost'
DB_HOST=localhost
DB_PORT=5432